torch>=1.9.0
torchaudio>=0.9.0
numpy>=1.19.5
scipy>=1.7.1
scikit-learn>=0.24.2
tqdm>=4.62.1
pyyaml>=5.3.1
torchsummary>=1.5.1
pydub
librosa>=0.8.1
SoundFile>=0.10.3.post1
matplotlib
Flask
Flask-RESTful
webrtcvad
onnx
onnxruntime
tensorboard
nnAudio
autopep8