<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <div align="center">
      <title>Final Project</title>
    </div>
    <style>
      article,
      aside,
      figure,
      footer,
      header,
      hgroup,
      menu,
      nav,
      section {
        display: block;
      }
    </style>
    <script
      type="text/javascript"
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    ></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: { inlineMath: [["$","$"],["\\(","\\)"]] },"HTML-CSS": {linebreaks: { automatic: true, width: "container" }}});
    </script>
  </head>

  <body>
    <style>
      body {
        background-color: rgb(240, 240, 240);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
    </style>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/f/fe/Viettel_logo_2021.svg"
      allign="top left"
      width="10%"
      height="10%"
    />

    <p></p>

    <div
      align="center"
      style="
        background: rgb(255, 255, 255);
        width: 600px;
        height: 500px;
        margin: 0 auto;
      "
    >
      <strong>
        <nav>
          <br />
          <h1>Speaker verification demo</h1>
        </nav>
      </strong>
      <p style="font-family: verdana; font-size: 30px">
        Select 2 audio files to upload
      </p>
      <form method="post" action="/" enctype="multipart/form-data">
        <!--             <dl>
                <p>
                    <input type="file" name="files[]" multiple="true" autocomplete="off" required>
                </p>
            </dl>
            <p>
                <input type="submit" value="Submit">
            </p> -->

        <table border="0" cellpadding="2" cellspacing="2">
          <thead>
            <tr>
              <th>Enrollment</th>
              <th>Test speaker</th>
            </tr>
          </thead>
          <tbody align="middle">
            <tr>
              <td>
                <dl>
                  <p>
                    <input
                      type="file"
                      name="file1"
                      multiple="false"
                      autocomplete="off"
                    />
                  </p>
                </dl>
              </td>
              <td>
                <dl>
                  <p>
                    <input
                      type="file"
                      name="file2"
                      multiple="false"
                      autocomplete="off"
                      required
                    />
                  </p>
                </dl>
              </td>
            </tr>
            {%if result %}
            <tr>
              <td>
                <div style="word-wrap: break-word; width: 200px">
                  {{filename1|safe}}
                </div>
              </td>
              <td>
                <div style="word-wrap: break-word; width: 200px">
                  {{filename2|safe}}
                </div>
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
        <br />
        <p>
          <input type="submit" value="Submit" />
        </p>

        {%if result %}
        <p
          style="
            background-color: rgb(220, 220, 220);
            width: 200px;
            height: 80px;
            margin: 0 auto;
          "
          font-size:
          16px
        >
          <br />
          Matching: {{matching|safe}}
          <br />
          Score: {{result|safe}}
        </p>
        {% endif %} {%if inference_time %}
        <p
          style="
            background-color: rgb(200, 200, 200);
            width: 200px;
            height: 50px;
            margin: 0 auto;
          "
          font-size:
          16px
        >
          Predict time: {{inference_time|safe}} seconds
        </p>
        {% endif %}
      </form>
    </div>
  </body>
</html>
